<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Header</title>

		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/Styles/style.css" />
		<link rel="stylesheet" href="/Styles/navbar.css" />
		<link rel="stylesheet" href="/Styles/sidebar.css" />
		<link rel="stylesheet" href="header.css" />
	</head>
	<body>
		<!-- navbar content  -->
		<nav>
			<div class="logo">
				<a href="/index.html"
					><img src="/assets/logo/scale logo with text.svg" alt="svg-logo"
				/></a>
			</div>
			<div class="nav-contents">
				<div class="nav-content">
					<a href="/Components/installation.html">Documentation</a>
				</div>
			</div>
		</nav>
		<!-- navbar content  -->

		<!-- side bar content  -->
		<aside>
			<div class="sidebar">
				<div class="sidebar-installation">
					<div class="sidebar-title">
						<p>Getting Started</p>
					</div>
					<div class="sidebar-list">
						<a href="../installation.html"><p>Usage</p></a>
					</div>
				</div>
				<div class="sidebar-components">
					<div class="sidebar-title">
						<p>Components</p>
					</div>
					<ul class="sidebar-list">
						<li class="component-link">
							<a href="../Avatar/avatar.html">Avatar</a>
						</li>
						<li class="component-link">
							<a href="../Alert/alert.html">Alert</a>
						</li>
						<li class="component-link">
							<a href="../Badge/badge.html">Badge</a>
						</li>
						<li class="component-link">
							<a href="../Buttons/button.html">Button</a>
						</li>
						<li class="component-link">
							<a href="../Cards/cards.html">Card</a>
						</li>
						<li class="component-link">
							<a href="../Images/images.html">Images</a>
						</li>
						<li class="component-link">
							<a href="../Input/input.html">Input</a>
						</li>
						<li class="component-link">
							<a href="../Snackbar/snackbar.html">SnackBar</a>
						</li>
						<li class="component-link">
							<a href="../Header/header.html">Header</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
		<!-- side bar content  -->

		<!-- main content  -->
		<main>
			<h2>Header</h2>
			<p>(Docs in progress)</p>
			<div class="container">
				<p class="container-title">Standard Header</p>
				<div class="header-container">
					<header class="nav standard">
						<div class="menu-logo">
							<div class="menu-btn hover">
								<i class="fas fa-bars fa-lg"></i>
							</div>
							<div class="logo">
								<p>Standard</p>
							</div>
						</div>
						<div class="nav-links">
							<div class="hover">
								<i class="fas fa-download fa-lg"></i>
							</div>
							<div class="hover">
								<i class="fas fa-print fa-lg"></i>
							</div>
							<div class="hover">
								<i class="fas fa-bookmark fa-lg"></i>
							</div>
						</div>
					</header>
					<div class="content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum.
						</p>
	
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					</div>
				</div>

				<div class="container">
					<p class="container-title">Fixed Header</p>
						<div class="header-container">
							<header class="nav fixed">
						<div class="menu-logo">
							<div class="menu-btn hover">
								<i class="fas fa-bars fa-lg"></i>
							</div>
							<div class="logo">
								<p>Fixed</p>
							</div>
						</div>
						<div class="nav-links">
							<div class="hover">
								<i class="fas fa-download fa-lg"></i>
							</div>
							<div class="hover">
								<i class="fas fa-print fa-lg"></i>
							</div>
							<div class="hover">
								<i class="fas fa-bookmark fa-lg"></i>
							</div>
						</div>
					</header>
					<div class="content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum.
						</p>
	
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					</div>
				</div>
				</div>
			<div class="container">
				<p class="container-title">Short Header</p>
				<div class="header-container">
					<header class="nav short">
						<div class="menu-logo">
							<div class="menu-btn hover">
								<i class="fas fa-bars fa-lg"></i>
							</div>
						</div>
						<div class="nav-links">
							<div class="hover">
								<i class="fas fa-bookmark fa-lg"></i>
							</div>
						</div>
					</header>
					<div class="content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum.
						</p>
	
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
