<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Images</title>
		<link rel="stylesheet" href="/Styles/style.css" />
		<link rel="stylesheet" href="/Styles/navbar.css" />
		<link rel="stylesheet" href="/Styles/sidebar.css" />
		<link rel="stylesheet" href="./images.css" />
	</head>
	<body>
		<!-- navbar content  -->
		<nav>
			<div class="logo">
				<a href="/index.html"
					><img src="/assets/logo/scale logo with text.svg" alt="svg-logo"
				/></a>
			</div>
			<div class="nav-contents">
				<div class="nav-content">
					<a href="/Components/installation.html">Documentation</a>
				</div>
			</div>
		</nav>
		<!-- navbar content  -->

		<!-- side bar content  -->
		<aside>
			<div class="sidebar">
				<div class="sidebar-installation">
					<div class="sidebar-title">
						<p>Getting Started</p>
					</div>
					<div class="sidebar-list">
						<p>Usage</p>
					</div>
				</div>
				<div class="sidebar-components">
					<div class="sidebar-title">
						<p>Components</p>
					</div>
					<ul class="sidebar-list">
						<li class="component-link">
							<a href="../Avatar/avatar.html">Avatar</a>
						</li>
						<li class="component-link">
							<a href="../Alert/alert.html">Alert</a>
						</li>
						<li class="component-link">
							<a href="../Badge/badge.html">Badge</a>
						</li>
						<li class="component-link">
							<a href="../Buttons/button.html">Button</a>
						</li>
						<li class="component-link">
							<a href="../Cards/cards.html">Card</a>
						</li>
						<li class="component-link">
							<a href="../Images/images.html">Images</a>
						</li>
						<li class="component-link">
							<a href="../Input/input.html">Input</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
		<!-- side bar content  -->

		<!-- main content  -->
		<main>
			<h2>Images</h2>
			<p>(Docs in progress)</p>
			<div class="container">
				<p class="container-title">Responsive Image</p>
				<div class="res-img-container">
					<img
						class="res-img"
						src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
						alt="img"
					/>
				</div>
			</div>
			<div class="container">
				<p class="container-title">Round Images</p>
				<div class="round-img-container">
					<div class="round">
						<img
							class="round-img"
							src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
							alt="img"
						/>
					</div>
					<div class="round">
						<img
							class="round-img"
							src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
							alt="img"
						/>
					</div>
					<div class="round">
						<img
							class="round-img"
							src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
							alt="img"
						/>
					</div>
				</div>
			</div>
			<div class="container">
				<p class="container-title">Sqaure Images</p>
				<div class="round-img-container">
					<div class="round">
						<img
							class="square-img"
							src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
							alt="img"
						/>
					</div>
					<div class="round">
						<img
							class="square-img"
							src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
							alt="img"
						/>
					</div>
					<div class="round">
						<img
							class="square-img"
							src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
							alt="img"
						/>
					</div>
				</div>
			</div>
		</main>
		<!-- main content  -->
	</body>
</html>
