<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Avatar</title>

		<link rel="stylesheet" href="avatar.css" />
	</head>
	<body>
		<!-- navbar content  -->

		<!-- navbar content  -->

		<!-- side bar content  -->

		<!-- side bar content  -->

		<div class="container">
			<div class="profile-avatar">
				<h2>Profile Avatar</h2>
				<h5>Standard Size</h5>
				<div class="avatar-box">
					<img
						class="avatar"
						src="/assets/Avatar imgs/avatar img-1.png"
						alt="avatar-img"
					/>
					<img
						class="avatar"
						src="/assets/Avatar imgs/img_avatar-2.png"
						alt="avatar-img"
					/>
					<img
						class="avatar"
						src="/assets/Avatar imgs/avatar img-1.png"
						alt="avatar-img"
					/>
				</div>
			</div>
			<div class="size-avatar">
				<h2>Sizes Avatar</h2>
				<h5>
					Size of the avatars can be changed by adding sm | md | lg class to the
					existing avatar class.
				</h5>
				<div class="avatar-box">
					<img
						class="avatar sm"
						src="/assets/Avatar imgs/avatar img-1.png"
						alt="avatar-img"
					/>
					<img
						class="avatar md"
						src="/assets/Avatar imgs/img_avatar-2.png"
						alt="avatar-img"
					/>
					<img
						class="avatar lg"
						src="/assets/Avatar imgs/avatar img-1.png"
						alt="avatar-img"
					/>
				</div>
			</div>
			<div class="square-avatar">
				<h2>Square Avatar</h2>
				<h5>
					Adding a class 'square' to existing class, will generate a square
					shaped avatar.
				</h5>
				<div class="avatar-box">
					<img
						class="avatar square sm"
						src="/assets/Avatar imgs/avatar img-1.png"
						alt="avatar-img"
					/>
					<img
						class="avatar square md"
						src="/assets/Avatar imgs/img_avatar-2.png"
						alt="avatar-img"
					/>
					<img
						class="avatar square lg"
						src="/assets/Avatar imgs/avatar img-1.png"
						alt="avatar-img"
					/>
				</div>
			</div>
		</div>
	</body>
</html>
