<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Avatar</title>
		<link rel="stylesheet" href="/Styles/style.css" />
		<link rel="stylesheet" href="/Styles/navbar.css" />
		<link rel="stylesheet" href="/Styles/sidebar.css" />
		<link rel="stylesheet" href="avatar.css" />
	</head>
	<body>
		<!-- navbar content  -->
		<nav>
			<div class="logo">
				<a href="/index.html"
					><img src="/assets/logo/scale logo with text.svg" alt="svg-logo"
				/></a>
			</div>
			<div class="nav-contents">
				<div class="nav-content">
					<a href="/Components/installation.html">Documentation</a>
				</div>
			</div>
		</nav>
		<!-- navbar content  -->

		<!-- side bar content  -->
		<aside>
			<div class="sidebar">
				<div class="sidebar-installation">
					<div class="sidebar-title">
						<p>Getting Started</p>
					</div>
					<div class="sidebar-list">
						<p>Usage</p>
					</div>
				</div>
				<div class="sidebar-components">
					<div class="sidebar-title">
						<p>Components</p>
					</div>
					<ul class="sidebar-list">
						<li class="component-link">
							<a href="../Avatar/avatar.html">Avatar</a>
						</li>
						<li class="component-link">
							<a href="../Alert/alert.html">Alert</a>
						</li>
						<li class="component-link">
							<a href="../Badge/badge.html">Badge</a>
						</li>
						<li class="component-link">
							<a href="../Buttons/button.html">Button</a>
						</li>
						<li class="component-link">
							<a href="../Cards/cards.html">Card</a>
						</li>
						<li class="component-link">
							<a href="../Images/images.html">Images</a>
						</li>
						<li class="component-link">
							<a href="../Input/input.html">Input</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
		<!-- side bar content  -->
		<main>
			<h2>Avatar</h2>
			<p>Avatars can be used for user profile picture.</p>

			<div class="container">
				<div class="profile-avatar">
					<h3>Profile Avatar</h3>
					<p>Standard Size</p>
					<div class="avatar-box">
						<img
							class="avatar"
							src="/assets/Avatar imgs/avatar img-1.png"
							alt="avatar-img"
						/>
						<img
							class="avatar"
							src="/assets/Avatar imgs/img_avatar-2.png"
							alt="avatar-img"
						/>
						<img
							class="avatar"
							src="/assets/Avatar imgs/avatar img-1.png"
							alt="avatar-img"
						/>
					</div>
					<div class="code-snippet">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28245%2C245%2C245%2C0%29&t=one-light&wt=none&l=htmlmixed&width=742.3750011920929&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=JetBrains+Mono&fs=15.5px&lh=144%25&si=false&es=2x&wm=false&code=%253Cdiv%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522image-src%2522%2520alt%253D%2522avatar-img%2522%252F%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E"
							style="
								width: 742px;
								height: 126px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
				<div class="size-avatar">
					<h3>Sizes Avatar</h3>
					<p>
						Size of the avatars can be changed by adding sm | md | lg class to
						the existing avatar class.
					</p>
					<div class="avatar-box">
						<img
							class="avatar sm"
							src="/assets/Avatar imgs/avatar img-1.png"
							alt="avatar-img"
						/>
						<img
							class="avatar md"
							src="/assets/Avatar imgs/img_avatar-2.png"
							alt="avatar-img"
						/>
						<img
							class="avatar lg"
							src="/assets/Avatar imgs/avatar img-1.png"
							alt="avatar-img"
						/>
					</div>
					<div class="code-snippet">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28245%2C245%2C245%2C0%29&t=one-light&wt=none&l=htmlmixed&width=715.9791663885117&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=JetBrains+Mono&fs=15.5px&lh=144%25&si=false&es=2x&wm=false&code=%253Cdiv%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar%2520sm%2522%2520src%253D%2522img-src%2522%2520alt%253D%2522avatar-img%2522%252F%253E%250A%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar%2520md%2522%2520src%253D%2522img-src%2522%2520alt%253D%2522avatar-img%2522%252F%253E%250A%2520%2520%250A%2520%2520%2509%2509%253Cimg%2520class%253D%2522avatar%2520lg%2522%2520src%253D%2522img-src%2522%2520alt%253D%2522avatar-img%2522%252F%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E"
							style="
								width: 777px;
								height: 214px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
				<div class="square-avatar">
					<h3>Square Avatar</h3>
					<p>
						Adding a class 'square' to existing class, will generate a square
						shaped avatar.
					</p>
					<div class="avatar-box">
						<img
							class="avatar square sm"
							src="/assets/Avatar imgs/avatar img-1.png"
							alt="avatar-img"
						/>
						<img
							class="avatar square md"
							src="/assets/Avatar imgs/img_avatar-2.png"
							alt="avatar-img"
						/>
						<img
							class="avatar square lg"
							src="/assets/Avatar imgs/avatar img-1.png"
							alt="avatar-img"
						/>
					</div>
					<div class="code-snippet">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28245%2C245%2C245%2C0%29&t=one-light&wt=none&l=htmlmixed&width=776.6875034570694&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=JetBrains+Mono&fs=15.5px&lh=144%25&si=false&es=2x&wm=false&code=%253Cdiv%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar%2520square%2520sm%2522%2520src%253D%2522img-src%2522%2520alt%253D%2522avatar-img%2522%252F%253E%250A%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar%2520square%2520md%2522%2520src%253D%2522img-src%2522%2520alt%253D%2522avatar-img%2522%252F%253E%250A%2520%2520%250A%2520%2520%2509%2509%253Cimg%2520class%253D%2522avatar%2520square%2520lg%2522%2520src%253D%2522img-src%2522%2520alt%253D%2522avatar-img%2522%252F%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E"
							style="
								width: 777px;
								height: 214px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
