<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cards</title>

        <link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>

		<link rel="stylesheet" href="/Styles/style.css" />
		<link rel="stylesheet" href="/Styles/navbar.css" />
		<link rel="stylesheet" href="/Styles/sidebar.css" />
		<link rel="stylesheet" href="cards.css" />
	</head>
	<body>
		<!-- navbar content  -->
		<nav>
			<div class="logo">
				<a href="/index.html"
					><img src="/assets/logo/scale logo with text.svg" alt="svg-logo"
				/></a>
			</div>
			<div class="nav-contents">
				<div class="nav-content">
					<a href="/Components/installation.html">Documentation</a>
				</div>
			</div>
		</nav>
		<!-- navbar content  -->

		<!-- side bar content  -->
		<aside>
			<div class="sidebar">
				<div class="sidebar-installation">
					<div class="sidebar-title">
						<p>Getting Started</p>
					</div>
					<div class="sidebar-list">
						<p>Usage</p>
					</div>
				</div>
				<div class="sidebar-components">
					<div class="sidebar-title">
						<p>Components</p>
					</div>
					<ul class="sidebar-list">
						<li class="component-link">
							<a href="../Avatar/avatar.html">Avatar</a>
						</li>
						<li class="component-link">
							<a href="../Alert/alert.html">Alert</a>
						</li>
						<li class="component-link">
							<a href="../Badge/badge.html">Badge</a>
						</li>
						<li class="component-link">
							<a href="../Buttons/button.html">Button</a>
						</li>
						<li class="component-link">
							<a href="../Cards/cards.html">Card</a>
						</li>
						<li class="component-link">
							<a href="../Images/images.html">Images</a>
						</li>
						<li class="component-link">
							<a href="../Input/input.html">Input</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
		<!-- side bar content  -->

		<!-- main content  -->
		<main>
			<h2>Cards</h2>
			<p>(Docs in progress)</p>
			<div class="container">
                <p class="container-title">Cards with dismiss and text Overlay</p>
				<div class="card-container">
					<div class="card">
						<div class="img-title">
							<img
								src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
								alt="wall-img"
							/>
							<div class="card-title">
                                <div class="title-heading">
                                    <h1>Our Changing Planet</h1>
								<h5>By Rishi Chourasia</h5>
                                </div>							
                                <div class="title-icon"> <span class="icon-hover"> <i class="fas fa-times"></i></span></div>
                               
							</div>
						</div>
					<div class="card-text">
						<p>
							Visit ten places on our planet that are undergoing the biggest
							changes today.
						</p>
					</div>
					<bottom>
						<div class="bottom-btn">
							<button class="card-btn">Read</button>
							<button class="card-btn">Bookmark</button>
						</div>
						<div class="bottom-icon">
							<i class="far fa-heart fa-md"></i>
							<i class="fas fa-share-alt fa-md"></i>
							<i class="fas fa-ellipsis-v fa-md"></i>
					    </div>
					</bottom>
				</div>
					<div class="card height-fit">
						<div class="img-title overlay">
							<img
								src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
								alt="wall-img"
							/>
							<div class="card-title overtext">
                                <div class="title-heading">
                                    <h1>Our Changing Planet</h1>
								<h5>By Rishi Chourasia</h5>
                                </div>							
							</div>
						</div>
					<div class="card-text">
						<p>
							Visit ten places on our planet that are undergoing the biggest
							changes today.
						</p>
					</div>
					<bottom>
						<div class="bottom-btn">
							<button class="card-btn">Read</button>
							<button class="card-btn">Bookmark</button>
						</div>
						<div class="bottom-icon">
							<i class="far fa-heart fa-md"></i>
							<i class="fas fa-share-alt fa-md"></i>
							<i class="fas fa-ellipsis-v fa-md"></i>
					    </div>
					</bottom>
				</div>
				<!-- 1st card  -->
			</div>
			<div class="container">
                <p class="container-title">Cards with only text and horizontal</p>
				<div class="card-container">
					<div class="card height-fit">
						<div class="img-title">
							<div class="card-title">
                                <div class="title-heading">
                                    <h1>Our Changing Planet</h1>
								<h5>By Rishi Chourasia</h5>
                                </div>							
							</div>
						</div>
					<div class="card-text">
						<p>
							Visit ten places on our planet that are undergoing the biggest
							changes today.Visit ten places on our planet that are undergoing the biggest
							changes today.Visit ten places on our planet that are undergoing the biggest
							changes today.
						</p>
						
							
						
					</div>
					<bottom>
						<div class="bottom-btn">
							<button class="card-btn">Read</button>
							<button class="card-btn">Bookmark</button>
						</div>
						<div class="bottom-icon">
							<i class="far fa-heart fa-md"></i>
							<i class="fas fa-share-alt fa-md"></i>
							<i class="fas fa-ellipsis-v fa-md"></i>
					    </div>
					</bottom>
				</div>
					<div class="card height-fit">
						<div class="img-title side">
							<img
								src="/assets/images/luca-bravo-8Nql6oVT_1A-unsplash.jpg"
								alt="wall-img"
							/>
							<div class="card-title ">
                                <div class="title-heading">
                                    <h1>Our Changing Planet</h1>
								<h5>By Rishi Chourasia</h5>
                                </div>							
							</div>
						</div>
					<!-- <div class="card-text">
						<p>
							Visit ten places on our planet that are undergoing the biggest
							changes today.
						</p>
					</div> -->
					<bottom>
						<div class="bottom-btn">
							<button class="card-btn">Read</button>
							<button class="card-btn">Bookmark</button>
						</div>
						<div class="bottom-icon">
							<i class="far fa-heart fa-md"></i>
							<i class="fas fa-share-alt fa-md"></i>
							<i class="fas fa-ellipsis-v fa-md"></i>
					    </div>
					</bottom>
				</div>
				<!-- 1st card  -->
			</div>
		</main>
	</body>
</html>
