<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Badge</title>
		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="badge.css" />
	</head>
	<body>
		<!-- navbar content  -->

		<!-- navbar content  -->

		<!-- side bar content  -->

		<!-- side bar content  -->

		<div class="container">
			<div class="text">
				<h3>Text with badge</h3>
			</div>
			<div class="badge"><p>1</p></div>
		</div>
		<div class="container">
			<h3>Text with large badge</h3>
			<div class="badge large"><p>2</p></div>
		</div>
		<div class="container">
			<h3>Button with a badge on the left</h3>
			<div class="btn">
				<button>Badge</button>
				<p class="badge left">3</p>
			</div>
		</div>
		<div class="container">
			<h3>Button toggles badge visibility</h3>
			<div class="toggle">
				<button class="toggle-btn">Toggle</button>
				<p class="badge right">4</p>
			</div>
		</div>
		<div class="container">
			<h3>Icon with badge</h3>
			<div class="toggle">
				<i class="fas fa-phone fa-lg"></i>
				<p class="badge icon">5</p>
			</div>
		</div>
	</body>
</html>
