<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Badge</title>
		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="badge.css" />
	</head>
	<body>
		<!-- navbar content  -->

		<!-- navbar content  -->

		<!-- side bar content  -->

		<!-- side bar content  -->

		<div class="container-badge">
			<div class="text">
				<h3>Text with badge</h3>
			</div>
			<div class="badge"><p>1</p></div>
		</div>
		<div class="container-badge">
			<h3>Text with large badge</h3>
			<div class="badge large"><span>2</span></div>
		</div>
		<div class="container-badge">
			<h3>Button with a badge on the left</h3>
			<div class="btn">
				<button>Badge</button>
				<span class="badge left">3</span>
			</div>
		</div>
		<div class="container-badge">
			<h3>Button toggles badge visibility</h3>
			<div class="toggle">
				<button class="toggle-btn">Toggle</button>
				<span class="badge right">4</span>
			</div>
		</div>
		<div class="container-badge">
			<h3>Icon with badge</h3>
			<div class="toggle">
				<i class="fas fa-phone fa-lg"></i>
				<span class="badge icon">5</span>
			</div>
		</div>
		<div class="container-badge">
			<h3>Avatar with badge</h3>
			<div class="toggle">
				<img
					class="avatar"
					src="/assets/Avatar imgs/avatar img-1.png"
					alt="avatar-img"
				/>
				<p class="badge badge-avatar">6</p>
			</div>
		</div>
		<div class="container-badge">
			<h3>Avatar with badge</h3>
			<div class="toggle">
				<img
					class="avatar"
					src="/assets/Avatar imgs/avatar img-1.png"
					alt="avatar-img"
				/>
				<span class="badge online"></span>
			</div>
		</div>
		<div class="container-badge">
			<h3>Avatar with badge</h3>
			<div class="toggle">
				<img
					class="avatar"
					src="/assets/Avatar imgs/avatar img-1.png"
					alt="avatar-img"
				/>
				<span class="badge offline"></span>
			</div>
		</div>
		<a href="../Alert/alert.html">Alert</a>
		<script>
			const toggle = document.querySelector(".toggle-btn");
			const icon = document.querySelector(".right");

			toggle.addEventListener("click", () => {
				icon.classList.toggle("hidden");
			});
		</script>
	</body>
</html>
