<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Snackbar</title>

		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/Styles/style.css" />
		<link rel="stylesheet" href="/Styles/navbar.css" />
		<link rel="stylesheet" href="/Styles/sidebar.css" />
		<link rel="stylesheet" href="snackbar.css" />
	</head>
	<body>
		<!-- navbar content  -->
		<nav>
			<div class="logo">
				<a href="/index.html"
					><img src="/assets/logo/scale logo with text.svg" alt="svg-logo"
				/></a>
			</div>
			<div class="nav-contents">
				<div class="nav-content">
					<a href="/Components/installation.html">Documentation</a>
				</div>
			</div>
		</nav>
		<!-- navbar content  -->

		<!-- side bar content  -->
		<aside>
			<div class="sidebar">
				<div class="sidebar-installation">
					<div class="sidebar-title">
						<p>Getting Started</p>
					</div>
					<div class="sidebar-list">
						<a href="../installation.html"><p>Usage</p></a>
					</div>
				</div>
				<div class="sidebar-components">
					<div class="sidebar-title">
						<p>Components</p>
					</div>
					<ul class="sidebar-list">
						<li class="component-link">
							<a href="../Avatar/avatar.html">Avatar</a>
						</li>
						<li class="component-link">
							<a href="../Alert/alert.html">Alert</a>
						</li>
						<li class="component-link">
							<a href="../Badge/badge.html">Badge</a>
						</li>
						<li class="component-link">
							<a href="../Buttons/button.html">Button</a>
						</li>
						<li class="component-link">
							<a href="../Cards/cards.html">Card</a>
						</li>
						<li class="component-link">
							<a href="../Images/images.html">Images</a>
						</li>
						<li class="component-link">
							<a href="../Input/input.html">Input</a>
						</li>
						<li class="component-link">
							<a href="../Snackbar/snackbar.html">SnackBar</a>
						</li>
						<li class="component-link">
							<a href="../Header/header.html">Header</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
		<!-- side bar content  -->

		<!-- main content  -->
		<main>
			<h2>Snackbar</h2>
			<p>(Docs in progress)</p>
			<div class="container">
				<p class="container-title">On Click SnackBar</p>
				<div class="snackbar-container">
					<div class="snackbar">
						<div class="text">Can't connect server. Retry in 5 seconds.</div>
						<div class="action">
							<button>RETRY</button>
							<i class="fas fa-times fa-sm icon"></i>
						</div>
					</div>
					<div class="buttons">
						<button class="btn btn-1">Baseline</button>
						<button class="btn btn-2">Leading</button>
						<button class="btn btn-3">Stacked</button>
					</div>
				</div>
			</div>
			<!-- //Baseline -->
			<div class="snackbar baseline hidden">
				<div class="text">Can't connect server. Retry in 5 seconds.</div>
				<div class="action">
					<button>RETRY</button>
					<i
						class="fas fa-times fa-sm icon"
						onclick="this.parentElement.parentElement.classList.toggle('hidden')"
					></i>
				</div>
			</div>

			<!-- leading  -->
			<div class="snackbar leading hidden">
				<div class="text">Can't connect server. Retry in 5 seconds.</div>
				<div class="action">
					<button>RETRY</button>
					<i
						class="fas fa-times fa-sm icon"
						onclick="this.parentElement.parentElement.classList.toggle('hidden')"
					></i>
				</div>
			</div>
			<!-- stacked  -->
			<div class="snackbar stacked hidden">
				<div class="text">Can't connect server. Retry in 5 seconds.</div>
				<div class="action">
					<button>ADD A NEW LABEL</button>
					<i
						class="fas fa-times fa-sm icon"
						onclick="this.parentElement.parentElement.classList.toggle('hidden')"
					></i>
				</div>
			</div>
		</main>
		<script>
			const btn1 = document.querySelector(".btn-1");
			const btn2 = document.querySelector(".btn-2");
			const btn3 = document.querySelector(".btn-3");
			const stack1 = document.querySelector(".baseline");
			const stack2 = document.querySelector(".leading");
			const stack3 = document.querySelector(".stacked");

			btn1.addEventListener("click", () => {
				stack1.classList.toggle("hidden");
			});
			btn2.addEventListener("click", () => {
				stack2.classList.toggle("hidden");
			});
			btn3.addEventListener("click", () => {
				stack3.classList.toggle("hidden");
			});
		</script>
	</body>
</html>
