<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Alert</title>
		<link rel="stylesheet" href="alert.css" />
	</head>
	<body>
		<!-- navbar content  -->

		<!-- navbar content  -->

		<!-- side bar content  -->

		<!-- side bar content  -->

		<div class="container">
			<div class="alert alert-primary">
				<div class="alert-text">
					<strong>Primary!</strong> This is a Primary Alert
				</div>
			</div>
			<div class="alert alert-warning">
				<div class="alert-text">
					<strong>Warning!</strong> This is a Warning Alert
				</div>
			</div>
			<div class="alert alert-success">
				<div class="alert-text">
					<strong>Success!</strong> This is a Success Alert
				</div>
			</div>
			<div class="alert alert-danger">
				<div class="alert-text">
					<strong>Danger!</strong> This is a Danger Alert
				</div>
			</div>
		</div>
		<div class="container">
			<div class="alert primary-outline">
				<div class="alert-text">
					<strong>Primary!</strong> This is a Primary Alert
				</div>
			</div>
			<div class="alert warning-outline">
				<div class="alert-text">
					<strong>Warning!</strong> This is a Warning Alert
				</div>
			</div>
			<div class="alert success-outline">
				<div class="alert-text">
					<strong>Success!</strong> This is a Success Alert
				</div>
			</div>
			<div class="alert danger-outline">
				<div class="alert-text">
					<strong>Danger!</strong> This is a Danger Alert
				</div>
			</div>
		</div>
		<a href="../Badge/badge.html">Badge</a>
	</body>
</html>
