.container {
	width: 500px;
	height: auto;
	margin: 10px;
	padding: 15px;
	border-radius: 3px;
}

.container-title {
	font-size: 22px;
	font-family: 500;
	letter-spacing: -1px;
}
.alert {
	display: flex;
	height: 35px;
	align-items: center;
	margin: 10px;
	border-radius: 3px;
	color: white;
}

.alert-text {
	margin-left: 10px;
}

.alert-primary {
	background-color: #6e6efa;
}

.alert-warning {
	background-color: #f8af41;
}
.alert-success {
	background-color: rgb(89, 194, 89);
}
.alert-danger {
	background-color: rgb(253, 116, 116);
}

.primary-outline {
	border: 1px solid #6e6efa;
	color: #6e6efa;
}
.warning-outline {
	border: 1px solid #f8af41;
	color: #f8af41;
}
.success-outline {
	border: 1px solid rgb(89, 194, 89);
	color: rgb(89, 194, 89);
}
.danger-outline {
	border: 1px solid rgb(253, 116, 116);
	color: rgb(253, 116, 116);
}
