<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Alert</title>

		<link rel="stylesheet" href="/Styles/style.css" />
		<link rel="stylesheet" href="/Styles/navbar.css" />
		<link rel="stylesheet" href="/Styles/sidebar.css" />
		<link rel="stylesheet" href="alert.css" />
	</head>
	<body>
		<!-- navbar content  -->
		<nav>
			<div class="logo">
				<a href="/index.html"
					><img src="/assets/logo/scale logo with text.svg" alt="svg-logo"
				/></a>
			</div>
			<div class="nav-contents">
				<div class="nav-content">
					<a href="/Components/installation.html">Documentation</a>
				</div>
			</div>
		</nav>
		<!-- navbar content  -->

		<!-- side bar content  -->
		<aside>
			<div class="sidebar">
				<div class="sidebar-installation">
					<div class="sidebar-title">
						<p>Getting Started</p>
					</div>
					<div class="sidebar-list">
						<a href="../installation.html"><p>Usage</p></a>
					</div>
				</div>
				<div class="sidebar-components">
					<div class="sidebar-title">
						<p>Components</p>
					</div>
					<ul class="sidebar-list">
						<li class="component-link">
							<a href="../Avatar/avatar.html">Avatar</a>
						</li>
						<li class="component-link">
							<a href="../Alert/alert.html">Alert</a>
						</li>
						<li class="component-link">
							<a href="../Badge/badge.html">Badge</a>
						</li>
						<li class="component-link">
							<a href="../Buttons/button.html">Button</a>
						</li>
						<li class="component-link">
							<a href="../Cards/cards.html">Card</a>
						</li>
						<li class="component-link">
							<a href="../Images/images.html">Images</a>
						</li>
						<li class="component-link">
							<a href="../Input/input.html">Input</a>
						</li>
						<li class="component-link">
							<a href="../Snackbar/snackbar.html">SnackBar</a>
						</li>
						<li class="component-link">
							<a href="../Header/header.html">Header</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
		<!-- side bar content  -->

		<!-- main content  -->
		<main>
			<h2>Alert</h2>
			<p>(Docs in progress)</p>
			<div class="container">
				<p class="container-title">Solid Alert</p>
				<div class="alert alert-primary">
					<div class="alert-text">
						<strong>Primary!</strong> This is a Primary Alert
					</div>
				</div>
				<div class="alert alert-warning">
					<div class="alert-text">
						<strong>Warning!</strong> This is a Warning Alert
					</div>
				</div>
				<div class="alert alert-success">
					<div class="alert-text">
						<strong>Success!</strong> This is a Success Alert
					</div>
				</div>
				<div class="alert alert-danger">
					<div class="alert-text">
						<strong>Danger!</strong> This is a Danger Alert
					</div>
				</div>
			</div>
			<div class="container">
				<p class="container-title">Outlined Alert</p>
				<div class="alert primary-outline">
					<div class="alert-text">
						<strong>Primary!</strong> This is a Primary Alert
					</div>
				</div>
				<div class="alert warning-outline">
					<div class="alert-text">
						<strong>Warning!</strong> This is a Warning Alert
					</div>
				</div>
				<div class="alert success-outline">
					<div class="alert-text">
						<strong>Success!</strong> This is a Success Alert
					</div>
				</div>
				<div class="alert danger-outline">
					<div class="alert-text">
						<strong>Danger!</strong> This is a Danger Alert
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
